<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body>
    <div>
    <%- include('partials/nav')  %>

    </div>
    <div class="bg-slate-300 ">
        <h1 class="text-3xl flex justify-center items-center m-10 text-red-600 p-2">404  Oop ! Page is Not Found</h1>
    
    </div>
</body>
</html>